body {
	background: #B3AEAE;
}

#glavni {
	margin: 30px auto;
	background: #3BABBF;
	width: 784px;
	border: 2px solid #000000;
	padding: 20px;
}

.tekstovi {
	width: 740px;
	background: #DEAA1F;
	border: 2px solid #816C3B;
	padding: 20px;
	margin-bottom: 20px;
}

.spisak {
	width: 740px;
	background: #8A7A7A;
	border: 2px solid #000000;
	padding: 20px;
}



