html {
      scroll-behavior: smooth;
      
    }

body {
	width: 80%;
	margin: 30px auto;
	background-color: #D0D0D0;
	font-family: Arial, "Lucida Sans Unicode";
	text-align: justify;
}
img {
	border-radius: 5px;
	box-shadow: 3px 3px 5px gray;
}

table {
	border-radius: 5px;
}

table td {
	padding: 20px;
}

#omorika_slika {
	width: 250px;
}